<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Familia</title>
</head>

<body class="container mt-5">
    <h1 class="mb-5">MI FAMILIA </h1>

    <!-- {{objetos}} -->

    {% for objeto in objetos %}

    <div class="card" style="width: 18rem;">
        <div class="card-body text-center">
            <h5 class="card-title text-primary">{{objeto.nombre}} {{objeto.apellido}}</h5>
            <p class="card-text">Es mi {{objeto.parentesco}}</p>
            <p class="card-text">Actualmente tiene {{objeto.edad}} años</p>
        </div>
    </div>

    {% endfor %}

</body>

</html>